@import url('/css/reset.css');
@import url('/css/nav.css');
@import url('/css/common.css');
@import url('/css/footer.css');
body {
    background-color: #eee;
}
.section-group {
    position: relative;
}
.project-header-wrapper {
    width: 100%;
    margin-top: 10rem;
}
.project-header-inner {
    width: 1200px;
    margin: 0  auto;
    overflow: hidden;
}
.project-header-title {
    transform: translateY(100%);
    opacity: 0;
    transition: 1s;
    line-height: 1.2;
}
.project-header-title h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.project-sub-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.project-sub-title img {
    width: 4.5rem;
}
.project-sub-title h1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: white;
    -webkit-text-stroke: 1px #222;
    /* box-shadow: inset 0 -2rem 0 #222; */
}
.project-sub-title h1:before {
    content: attr(title);
    display: block;
    position: absolute;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    background-color: #222;
}
.project-sub-title h1:hover:before {
    transition: all 0.7s linear;
    width: 100%;
    -webkit-text-stroke: 0px;
    /* padding: 0.5rem; */
}
.project-header-text {
    margin-top: 3rem;
    width: 60%;
    margin-left: 40%;
    overflow: hidden;
}
.project-header-text p {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 400;
    word-break: keep-all;
    transform: translateY(100%);
    opacity: 0;
    transition: 1s;
}
.project-header-text p b {
    font-weight: 600;
}

/* Project View Section */
.project-view-wrapper {
    padding: 3rem;
    margin-bottom: 0;
}
.webDesign-view-inner {
    width: 1200px;
    margin: 0 auto;
}
.project-box:first-child {
    margin-top: 3rem;
}
.imgBox1, .imgBox3 {
    transform: translateX(100%);
}
.imgBox2, .imgBox4 {
    transform: translateX(-100%);
}
.project-box {
    background-color: #fff;
    display: flex;
    margin: 5rem 0;
    border-radius: 20px;
    transition: 1s;
    opacity: 0;
}
.project-img {
    width: 60%;
    cursor: pointer;
}
.project-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.project-img:nth-child(odd) img {
    border-radius: 20px 0 0 20px;
}
.project-img:nth-child(even) img {
    border-radius: 0 20px 20px 0;
}
.project-text-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    justify-content: space-evenly;
}
.project-title h1 {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}
.project-title p {
    font-size: 1.8rem;
}
.project-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.project-text span {
    font-size: 1.4rem;
    font-weight: 300;
    word-break: keep-all;
    letter-spacing: -1px;
}
.project-view-button a {
    color: #222;
    font-weight: 500;
    border-bottom: 1px solid #222;
}
.project-view-button a img {
    width: 1rem;
}
.project-keyword {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.project-keyword span {
    border: 1px solid rgb(201, 201, 201);
    color: rgb(147, 147, 147);
    letter-spacing: 0.04em;
    font-size: 1rem;
    line-height: 160%;
    border-radius: 30px;
    padding: 0.2rem 1.2rem;
    flex-shrink: 0;
}
.project-img:hover .cursor.active3 {
    scale: 2;
}

@media all and (max-width: 1204px) {
    .project-header-wrapper {
        padding: 0 3rem;
    }
    .project-header-inner {
        width: 100%;
    }
    .webDesign-view-inner {
        width: 100%;
    }
}
@media all and (max-width: 768px) {
    .project-view-wrapper {
        padding: 5rem 3rem;
    }
    .project-header-inner {
        width: 100%;
    }
    .project-header-text {
        margin-top: 3rem;
        width: 100%;
        margin-left: 0;
    }
    .project-header-text p{
        text-align: left;
    }
    .project-box-wrap:nth-child(odd) .project-box {
        flex-direction: column;
    }
    .project-box-wrap:nth-child(even) .project-box {
        flex-direction: column-reverse;
    }

    .project-img {
        width: 100%;
        cursor: pointer;
    }
    .project-text-box {
        width: 100%;
    }
    .project-img:nth-child(odd) img {
        border-radius: 20px 20px 0 0;
    }
    .project-img:nth-child(even) img {
        border-radius: 20px 20px 0 0;
    }
}

.modal-custom {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.6);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 996px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
    from {
        top:-300px;
        opacity:0
    }
    to {
        top:0;
        opacity:1
    }
}
@keyframes animatetop {
    from {
        top:-300px;
        opacity:0
    }
    to {
        top:0;
        opacity: 1
    }
}
.close-modal {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
}
.close-modal:hover,.close-modal:focus { 
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
.modal-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:#ddd;
    color:white;
    display: flex;
    flex-direction: row-reverse;
}
.modal-header h2 {
    font-weight: 400;
}
.modal-body {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-between;
}
.modal-img {
    width: 60%;
    height: 100%;
}
.modal-text {
    width: 40%;
    height: 100%;
}
.modal-img img {
    width: 100%;
}
.modal-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    word-break: keep-all;
}
.modal-text h4 {
    font-size: 2rem;
}
.modal-text button {
    padding: 0.5rem 1rem;
    border: 1px solid #222;
    background-color: #fff;
    transition: 0.5s;    
}
.modal-text button:hover {
    background-color: #222;
}
.modal-text button:hover a {
    color: #fff;
}
.modal-text button a {
    color: #222;
    font-size: 1.2rem;
}

@media all and (max-width: 1204px) {
    .project-header-wrapper {
        padding: 0 3rem;
    }
    .project-header-inner {
        width: 100%;
        padding: 3rem;
    }
    .modal-content {
        width: 100%;
    }
}
@media all and (max-width: 768px) {
    .project-view-wrapper {
        padding: 5rem 3rem;
    }
    .project-header-inner {
        width: 100%;
    }
    .project-header-text {
        margin-top: 3rem;
        width: 100%;
        margin-left: 0;
    }
    .project-header-text p{
        text-align: left;
    }
    .react-project-wrapper {
        width: 100%;
        padding: 0 3rem;
    }
    /* My Img Section */
	.container {
		width: 100%;
	}
    .modal-body {
        display: block;
    }
    .modal-img {
        width: 100%;
        margin-bottom: 2rem;
    }
    .modal-text {
        width: 100%;
    }
}